<div class="container-fluid">
  <div style="text-align: center;height: 70%;">
    <img src="/assets/image/luggage.jpg" alt="Home Image" style="max-width: 50%; height: 100%;">
  </div>
  
  <div class="hero text-center my-2 pt-2">
    <h1 class="display-4">
      <a routerLink="/home" class="text-decoration-none">
        <strong style="color: black; font-weight: bold;">Explore the World!</strong>
      </a>
    </h1>
    <p class="lead">Discover beautiful destinations and plan your next adventure.</p>
  </div>

  
  <div class="row text-center">
    <!-- paris -->
    <div class="col-lg-3 col-md-6 my-3">
      <div class="card ">
        <img src="assets/image/parisnewimage.jpg" class="card-img-top" alt="Paris - Eiffel Tower">
        <div class="card-body border">
          <h5 class="card-title">Paris, France</h5>
          <p class="card-text">Experience the romance of the City of Lights and the stunning Eiffel Tower.</p>
        </div>
      </div>
    </div>

    <!--Zurich -->
    <div class="col-lg-3 col-md-6 my-3">
      <div class="card">
        <img src="assets/image/switzerland.jpg" class="card-img-top" alt="Zurich - City Skyline">
        <div class="card-body border">
          <h5 class="card-title">Zurich, Switzerland</h5>
          <p class="card-text">Embrace serene landscapes and charm.</p>
        </div>
      </div>
    </div>

    <!--  Maui -->
    <div class="col-lg-3 col-md-6 my-3">
      <div class="card">
        <img src="assets/image/Hawai.jpg" class="card-img-top" alt="Maui - Beautiful Beach">
        <div class="card-body border">  
          <h5 class="card-title">Maui, Hawaii</h5>
          <p class="card-text">Experience paradise in Hawaii's endless beauty and beaches.</p>
        </div>
      </div>
    </div>
    

    <!-- New York -->
    <div class="col-lg-3 col-md-6 my-3">
      <div class="card ">
        <img src="assets/image/newyork.jpg" class="card-img-top" alt="New York - City Skyline">
        <div class="card-body border">
          <h5 class="card-title">New York, USA</h5>
          <p class="card-text">Explore the vibrant life of the Big Apple and its iconic skyline.</p>
        </div>
      </div>
    </div>
  </div>
</div>


